<%= render_void_table(@resources.size, 6) %>
<% for upload in @resources -%>
<tr <%= alternate_class -%>>
  <td>
  <% if upload.mime =~ /image/ %>
    <%= link_to path_to_image(upload.upload_url), rel: 'lightbox' do %>
      <%= image_tag(upload.upload.thumb.url) %>
    <% end %>
  <% else %>
    <% upload_url = File.join(root_path, upload.upload_url) -%>
    <%= link_to(upload_url, upload_url) -%>
  <% end %>
	<p><%= resource_action_links(upload) %></p>
  </td>
  <td>
    <%= upload.mime %>
  </td>
  <td><%=h upload.size rescue 0 -%> bytes</td>
  <td><%= format_date upload.created_at -%></td>
</tr>
<% end -%>
